.footer-container {
  background: var(--primary-primary-900);
  width: 100%;
}
.footer-info {
  padding-top: 3rem;
}
.c-title {
  color: #ffff;
}
.footer-section1,
.footer-section2,
.footer-section3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-section4 {
  display: flex;
  width: 233px;
  padding: 0px 2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.acceptable-payment-cards {
  margin-top: 4.375rem;
  gap: 0.25rem;
}
.policy {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  width: 100%;
  background: var(--primary-primary-900);
}
.right-side {
  width: 100%;
  display: flex !important;
  justify-content: flex-end;
  gap: 1.25rem !important;
}
.sec3-items {
  gap: 0.2rem;
}
.social-media {
  gap: 1rem;
}
.E-address {
  background: var(--primary-primary-900);
  border-radius: 0.5rem;
  border: 1px solid #f9f9f9;
  color: #ffffff;
  padding: 12px 12px;
}

.E-address::placeholder {
  color: #ffffff;
}
