.footer-container {
  background: var(--primary-primary-900);
  width: 100%;
}
.footer-info {
  color: var(--neutral-gray);
  padding: 2rem;
}
.footer-info p {
  color: var(--neutral-gray);
}
.c-title {
  color: #ffff;
}
.footer-section1,
.footer-section2,
.footer-section3 {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: flex-start; */
  gap: 0.5rem;
}
.footer-section4 {
  display: flex;
  width: 233px;
  padding: 0px 2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
/* .payment-method {
  display: flex;
  justify-content: flex-start;
} */
.policy {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  width: 100%;
  background: var(--primary-primary-900);
}
.policy p {
  color: var(--neutral-gray, #cbcbcb);
}
/* Mobile/Caption */
/* font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
} */
.right-side {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.sec3-items {
  gap: 0.2rem;
}
.social-media {
  gap: 1rem;
}
