/* .cat-container {
  width: 100%;
} */
.cat {
  border-radius: 8px;
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 18px;
  width: 195px;
  /* shadow 1 */
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.cat :hover {
  cursor: pointer;
}
