.p-container {
  margin-top: 5.8em;
}
.pro-name {
  /* font-family: Inter; */
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.p-rate {
  width: 3rem;
  background-color: #063a88;
  border-radius: 0.25rem;
  width: 2.7rem;
  padding: 3px 0.45rem;
  color: #ffff;
}
.payment-container {
  padding: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.last-price {
  font-size: 0.9rem;
}
.months {
  border-radius: 0.25rem;
  padding: 0.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
}
.months :hover {
  cursor: pointer;
}
@media (width <= 768px) {
  .payment-container {
    display: none;
  }
}
