.newBestSellerCard {
  border-radius: 8px;
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 19.1rem;
  height: 22.5rem;
  /* shadow 1 */
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.newBestSellerCard :hover {
  cursor: pointer;
}
.bestSellerTitle {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  border-bottom: 2px solid #b4b4b4;
  padding-bottom: 1rem;
}
.nBestSellersContainer {
  margin-top: 48px;
}
.BSTitleText {
  color: var(--Black, #0c0c0c);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cardContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* width: 100%; */
  margin-top: 2rem;
}
.cardContainer img {
  width: 11.7rem;
  height: 10rem;
}
.cardInfo {
  display: flex;
  height: 6rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  align-self: stretch;
}
.price-rate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}
.price-rate img {
  width: 1.4rem;
  height: 2rem;
}
#rate {
  display: flex;
  align-items: center;
  
}