.onSaleProduct {
  border-radius: 4px;
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 18px;
  /* shadow 1 */
  /* box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12); */
width: 184px;
height: 237px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
}
.onSaleProduct :hover {
  cursor: pointer;
}

.pOnSaleContainer {
  display :flex;
  align-items: center;
  justify-content: center;
   gap: 30px;
   border-radius: 8px;
   background: var(--primary-primary-500, #063A88);
   height: 325px;
   margin-top: 48px;
}